.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  color:brown;

  
}

body {
  background-color: beige;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 3px;
}